<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96927771128-j48rh1r4r2lnagr5fm50rhv1gapgqkmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96927771128-j48rh1r4r2lnagr5fm50rhv1gapgqkmr</string>
	<key>API_KEY</key>
	<string>AIzaSyAsbbCxl675msIyU4XC_jTl_02Xx4BDgu0</string>
	<key>GCM_SENDER_ID</key>
	<string>96927771128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartkit</string>
	<key>PROJECT_ID</key>
	<string>smartkit-c9176</string>
	<key>STORAGE_BUCKET</key>
	<string>smartkit-c9176.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96927771128:ios:86c9ebb2d096317b374e0d</string>
</dict>
</plist>